[color]
  branch = auto
  color = auto
  diff = auto
  ui = true
[user]
  name = Ryan Foster
  email = ryan@breakwaterltd.com
[github]
  user = Fosome
[status]
  showUntrackedFiles = all
[core]
  excludesfile = /Users/ryanfoster/.gitignore
